{% extends "master/index.twig" %}

{% block title %}Plantilla por defecto{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <h1>En un lugar de la Mancha de cuyo nombre no quiero acordarme...</h1>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}