{% extends "master/login_index.twig" %}

{% block title %}Alxarafe, user identification{% endblock %}

{% block body %}
    <div class="login_center center"
         style="background-size: cover; background-position: center center; background-attachment: fixed; background-repeat: no-repeat; background-image: linear-gradient(rgb(60,70,100,0.3), rgb(240,240,240));">
        <div class="login_vertical_align">

            <form id="login" name="login" method="post" action="">
                <input type="hidden" name="token" value="c0eb547bfe945a766e6d57906ba77eda"/>
                <input type="hidden" name="actionlogin" value="login">
                <input type="hidden" name="loginfunction" value="loginfunction"/>
                <!-- Add fields to send local user information -->
                <input type="hidden" name="tz" id="tz" value=""/>
                <input type="hidden" name="tz_string" id="tz_string" value=""/>
                <input type="hidden" name="dst_observed" id="dst_observed" value=""/>
                <input type="hidden" name="dst_first" id="dst_first" value=""/>
                <input type="hidden" name="dst_second" id="dst_second" value=""/>
                <input type="hidden" name="screenwidth" id="screenwidth" value=""/>
                <input type="hidden" name="screenheight" id="screenheight" value=""/>
                <input type="hidden" name="dol_hide_topmenu" id="dol_hide_topmenu" value=""/>
                <input type="hidden" name="dol_hide_leftmenu" id="dol_hide_leftmenu" value=""/>
                <input type="hidden" name="dol_optimize_smallscreen" id="dol_optimize_smallscreen" value=""/>
                <input type="hidden" name="dol_no_mouse_hover" id="dol_no_mouse_hover" value=""/>
                <input type="hidden" name="dol_use_jmobile" id="dol_use_jmobile" value=""/>

                <!-- Title with version -->
                <div class="login_table_title center" title="Dolibarr 15.0.0-alpha">
                    <a class="login_table_title" href="https://www.dolibarr.org" target="_blank">Dolibarr
                        15.0.0-alpha</a></div>

                <div class="login_table">
                    <div id="login_line1">
                        <div id="login_left">
                            <img alt="" src="/dolibarr/htdocs/theme/dolibarr_logo.svg" id="img_logo"/>
                        </div>
                        <br>
                        <div id="login_right">
                            <div class="tagtable left centpercent"
                                 title="Introduzca los datos de inicio de sesi&oacute;n">
                                <!-- Login -->
                                <div class="trinputlogin">
                                    <div class="tagtd nowraponall center valignmiddle tdinputlogin">
                                        <!-- <span class="span-icon-user">-->
                                        <span class="fa fa-user"></span>
                                        <input type="text" id="username" maxlength="255" placeholder="Login"
                                               name="username" class="flat input-icon-user minwidth150"
                                               value="{{ username }}" tabindex="1" autofocus="autofocus"/>
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="trinputlogin">
                                    <div class="tagtd nowraponall center valignmiddle tdinputlogin">
                                        <!--<span class="span-icon-password">-->
                                        <span class="fa fa-key"></span>
                                        <input type="password" id="password" maxlength="128"
                                               placeholder="Contrase&ntilde;a" name="password"
                                               class="flat input-icon-password minwidth150" value="{{ password }}"
                                               tabindex="2" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end div login_right -->

                    </div> <!-- end div login_line1 -->


                    <div id="login_line2" style="clear: both">

                        <!-- Button Connection -->
                        <br>
                        <div id="login-submit-wrapper">
                            <input name="action" value="login" class="btn btn-lg btn-primary btn-block" type="submit"
                                   tabindex="5">
                        </div>

                        <br>
                        <div class="center" style="margin-top: 5px;"><a class="alogin"
                                                                        href="/dolibarr/htdocs/user/passwordforgotten.php">&iquest;Olvid&oacute;
                                su contrase&ntilde;a?</a>&nbsp;-&nbsp;<a class="alogin"
                                                                         href="/dolibarr/htdocs/support/index.php"
                                                                         target="_blank">&iquest;Necesita ayuda o
                                soporte?</a></div>
                    </div> <!-- end login line 2 -->

                </div> <!-- end login table -->


            </form>

            {% if (view.errors) %}{{ block('errors', 'master/errors.twig') }}{% endif %}


            <!-- authentication mode = dolibarr -->
            <!-- cookie name used for this session = DOLSESSID_89806024fdd26cc753b02ba2fcad4675 -->
            <!-- urlfrom in this session =  -->

            <!-- Common footer is not used for login page, this is same than footer but inside login tpl -->


        </div>
    </div><!-- end of center -->


{% endblock %}
