<!-- Including Error messages -->
{% block menu_info %}
    <div class="login_block_other">
        <div class="inline-block">
            <div class="classfortooltip inline-block login_block_elem inline-block"
                 style="padding: 0px; padding: 0px; padding-right: 3px !important;"
                 title="Mostrar p&aacute;gina de impresi&oacute;n de la zona central"><a
                        href="/dolibarr/htdocs/index.php?mainmenu=home&optioncss=print"
                        target="_blank"><span
                            class="fa fa-print atoplogin valignmiddle"></span></a></div>
        </div>
        <div class="inline-block">
            <div class="classfortooltip inline-block login_block_elem inline-block"
                 style="padding: 0px; padding: 0px; padding-right: 3px !important;"
                 title="Leer la ayuda en l&iacute;nea (es necesario acceso a Internet )...&lt;br&gt;P&aacute;gina Wiki &quot;Documentaci&oacute;n usuarios&quot; &lt;span class=&quot;opacitymedium&quot;&gt;(P&aacute;gina de inicio)&lt;/span&gt;">
                <a class="help" target="_blank" rel="noopener"
                   href="http://wiki.dolibarr.org/index.php/Documentaci%C3%B3n_usuarios"><span
                            class="fa fa-question-circle atoplogin valignmiddle"></span><span
                            class="fa fa-circle helppresentcircle unvisible"></span></a></div>
        </div>
        <div class="inline-block">
            <div class="classfortooltip inline-block login_block_elem inline-block"
                 style="padding: 0px; padding: 0px; padding-right: 3px !important;"
                 title="Dolibarr 15.0.0-alpha"><span class="aversion"><span
                            class="hideonsmartphone small">15.0.0-alpha</span></span>
            </div>
        </div>
        <div class="inline-block">
            <div class="classfortooltip inline-block login_block_elem logout-btn inline-block"
                 style="padding: 0px; padding: 0px; padding-right: 3px !important;"
                 title="Desconexi&oacute;n&lt;br&gt;"><a accesskey="l"
                                                         href="/dolibarr/htdocs/user/logout.php"><span
                            class="fas fa-sign-out-alt atoplogin" style=""
                            title="Desconexi&oacute;n"></span></a></div>
        </div>
    </div>
{% endblock %}