<!-- Including Error messages -->
{% block menu_user %}
    <div class="login_block_user">
        <div class="inline-block nowrap">
            <div class="inline-block login_block_elem login_block_elem_name" style="padding: 0px;">
                <!-- div for user link -->
                <div id="topmenu-login-dropdown"
                     class="userimg atoplogin dropdown user user-menu inline-block">
                    <a href="/dolibarr/htdocs/user/card.php?id=1" class="dropdown-toggle login-dropdown-a"
                       data-toggle="dropdown">
                        <img class="photo photouserphoto userphoto" alt="No photo"
                             src="/dolibarr/htdocs/public/theme/common/user_anonymous.png"><span
                                class="hidden-xs maxwidth200 atoploginusername hideonsmartphone paddingleft">rsanjose</span>
                    </a>
                    <div class="dropdown-menu">
                        <!-- User image -->
                        <div class="user-header">
                            <img class="photo dropdown-user-image" alt="No photo"
                                 src="/dolibarr/htdocs/public/theme/common/user_anonymous.png">
                            <p>
                                <i class="far fa-star classfortooltip" title="Administrador"></i> SuperAdmin
                                (rsanjose)<br><small class="classfortooltip"
                                                     title="Conectado desde : 17/08/2021 08:04&lt;br&gt;Conexi&oacute;n anterior : 16/08/2021 22:16"><i
                                            class="fa fa-user-clock"></i> 17/08/2021 08:04</small><br><small
                                        class="classfortooltip"
                                        title="Conectado desde : 17/08/2021 08:04&lt;br&gt;Conexi&oacute;n anterior : 16/08/2021 22:16"><i
                                            class="fa fa-user-clock opacitymedium"></i> 16/08/2021
                                    22:16</small><br>
                            </p>
                        </div>

                        <!-- Menu Body -->
                        <div class="user-body"><span id="topmenulogincompanyinfo-btn"><i
                                        class="fa fa-caret-right"></i> Mostrar informaci&oacute;n de la empresa</span>
                            <div id="topmenulogincompanyinfo"><br><b>CIF/NIF</b>: <span><span
                                            class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span><br><b>N&uacute;m.
                                    seguridad social</b>: <span><span
                                            class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span><br><b>CNAE</b>:
                                <span><span class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span><br><b>N&uacute;m.
                                    colegiado</b>: <span><span
                                            class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span><br><b>Prof
                                    Id 5 (n&uacute;mero EORI)</b>: <span><span
                                            class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span><br><b>CIF
                                    intra.</b>: <span><span class="clipboardCP clipboardCPShowOnHover"><span
                                                class="clipboardCPValue"></span><span
                                                class="clipboardCPButton far fa-clipboard opacitymedium paddingleft paddingright"></span><span
                                                class="clipboardCPText opacitymedium"></span></span></span>
                            </div>
                            <br><span id="topmenuloginmoreinfo-btn"><i class="fa fa-caret-right"></i> Mostrar m&aacute;s informaci&oacute;n</span>
                            <div id="topmenuloginmoreinfo"><br><b>Administrador</b>:
                                S&iacute;<br><b>Tipo:</b>
                                Interno<br><b>Estado</b>: Activado<br><br><u>Session</u><br><b>Direcci&oacute;n
                                    IP</b>: 127.0.0.1<br><b>Modo de autentificaci&oacute;n:</b> dolibarr<br><b>Conectado
                                    desde:</b> 17/08/2021 08:04<br><b>Conexi&oacute;n anterior:</b>
                                16/08/2021
                                22:16<br><b>Tema actual:</b> eldy<br><b>Gestor men&uacute; actual:</b>
                                eldy<br><b>Idioma actual:</b> <img
                                        src="/dolibarr/htdocs/theme/common/flags/es.png" alt=""
                                        title="es_ES"
                                        class="inline-block"> es_ES<br><b>ClientTZ:</b> +2
                                (Europe/Madrid)<br><b>Navegador:</b> chrome 92.0.4515.131 (Mozilla/5.0 (X11;
                                Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131
                                Safari/537.36)<br><b>Presentaci&oacute;n:</b> classic<br><b>Pantalla:</b>
                                1920 x
                                939
                            </div>
                        </div>

                        <!-- Menu Footer-->
                        <div class="user-footer">
                            <div class="pull-left">
                                <a accesskey="l" href="/dolibarr/htdocs/user/card.php?id=1"
                                   class="button-top-menu-dropdown"><i class="fa fa-user"></i> Ficha</a>
                            </div>
                            <div class="pull-right">
                                <a accesskey="l" href="/dolibarr/htdocs/user/logout.php"
                                   class="button-top-menu-dropdown"><i class="fa fa-sign-out-alt"></i>
                                    Desconexi&oacute;n</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>

                    </div>
                </div>
                <!-- Code to show/hide the user drop-down -->
                <script>
                    $(document).ready(function () {
                        $(document).on("click", function (event) {
                            if (!$(event.target).closest("#topmenu-login-dropdown").length) {
                                //console.log("close login dropdown");
                                // Hide the menus.
                                $("#topmenu-login-dropdown").removeClass("open");
                            }
                        });

                        $("#topmenu-login-dropdown .dropdown-toggle").on("click", function (event) {
                            console.log("toggle login dropdown");
                            event.preventDefault();
                            $("#topmenu-login-dropdown").toggleClass("open");
                        });

                        $("#topmenulogincompanyinfo-btn").on("click", function () {
                            $("#topmenulogincompanyinfo").slideToggle();
                        });

                        $("#topmenuloginmoreinfo-btn").on("click", function () {
                            $("#topmenuloginmoreinfo").slideToggle();
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}