<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ view.title }}</title>
<meta name="description" content="{{ main.description | raw }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="images/favicon.ico"/>
{% for css in cssCode %}
    <link rel="stylesheet" href="{{ css }}"/>
{% endfor %}
<!-- start of getHeader -->
{{ view.getHeader() | raw }}
<!-- end of getHeader -->