<!-- Including Error messages -->
{% block errors %}
    {% for error in view.errors %}
        <div class="alert alert-{{ error.type }}" role="alert">{{ error.msg }}</div>
    {% endfor %}
{% endblock %}